
.navbar{
  position: fixed;
  top:0px;
  width: 100vw;
  z-index: 5;
  
}
.nav-item{
  color:white;
  text-decoration: none;
  margin-right:20px;
  font-weight: 500;
}
.nav-item:hover{
  color:red;
  transition: 0.3s;
}
.banner{
  height:600px;
  display: flex;
  align-items: center;
}
.banner::before{
  position: absolute;
  left:0;
  width:100%;
  height:600px;
  content:"";
  background:linear-gradient(to right,black,transparent);
}

.overview{
  color:white;
  width:40%;
  margin-left: 20px;
  z-index: 1;
}
.card{
  width:300px;
  height:200px;
  background-size: cover;
  transition: ALL 0.3s ease-in-out;
  z-index: 1;
  border-radius: 5% 5%;
  background-repeat:no-repeat;
  border: none;
  
  }



.card:hover{
  transform: scale(1.5);
  width:300px;
  z-index:5
  
  
  
   
  
}

.card-size{
  width:300px;
  height:300px;
  display: flex;
  align-items: center;
  
  
  }

.overlay{
  position: absolute;
  left: -1px;
  width:300px;
  height:200px;
  background-color: black;
  opacity: 0;
  border-radius: 5% 5%;
  transition: opacity 0.3s ease-in-out;
  
}

.overlay:hover{
  position: absolute;
  
  width:300px;
  height:200px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  
  
  
}
.overlay:hover .title{
  position: absolute;
  z-index: 3;
  color: white;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  }



.react-multi-carousel-item{
  transform-style:unset !important;
}
.movie-overview{
  line-height: 15px;
  font-size: 10px;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  margin-bottom:20px;
  

}
.title{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 5px;
  
}
.home ul li:first-child:hover{
  transform: translateX(100px);
  z-index: 2;
}
.home ul li:first-child{
  transition: 0.5s ease-in-out;
  z-index: 2;
}
.genre{
  border: 1px solid white;
  background-color: rgb(190, 26, 26);
  border-radius: 10%;
  font-size: 10px;
  margin-right: 2px;
}
.genre-area{
  display: flex;
}
.home-class{
  color:white;
  -webkit-text-stroke: 0.2px black;
}
.home ul li:last-child{
  transition: 0.5s ease-in-out;
  z-index: 2;
}
.home ul li:last-child:hover{
  transform: translateX(-100px);
  z-index: 2;
}
.detail-card-image{
  width: 500px;
 
 
  
}
.detail-page{
  padding-top:60px;
  height: 100%;
}
.detail-card{
  margin-top: 20px;
  margin-bottom: 20px;
  color:white;
}
.App{
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
}
.movieDetail-overview{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;  
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}
.detail-title{
  display: flex;
  align-items: center;
 
  
}
.adult-badge{
  text-align: end;
}
.detail-badge{
  width:80px;
}
.detailPage-review{
  color:white;
  
  
}


.detailPage-review-title{
  color:white;
  text-align: center;
  
}
.review{
  
  border-top: 1px solid gray;
  
  padding-top: 10px;
  padding-bottom:10px;
  width:1000px;
  height: 300px;
  overflow: auto;
  
}
.Footer{
  background-color:#dc3545;
  color:white;
  margin-top: 5px;
  padding-bottom: 5px;
  text-align: center;

}
.react-multi-carousel-item{
display: flex;
justify-content: center;
}
.youtube{
  margin-top: 30px;
}
.movies-page{
  color:white;
  height: 100%;
  padding-top: 100px;
}
.MovieSize{
  width: 100%;
  height: 500px;
  background-size:cover;
  
}
.MoviesMovieCard{
  background:linear-gradient(to right,black,80%,transparent);
  width: 100%;
  height: 100%;
  z-index: 3;
}
.pagination{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}